<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<html>

<body>
  <div width="100px" id="app">

    <div>
      <div width="100px" v-if="loginstate">
        <div width="100px">
          <h2>{{ message }} {{ username }} <button v-on:click="logout">{{ logout_message }}</button></h2>

        </div>
        
        
        
      </div>
      <vue_form v-else></vue_form>

    </div>

    <div>
      <div v-if="loginstate">
        <h3>今天的临时列表/Today's temporary URL list<button v-on:click="gettemplist">刷新列表/Refresh Table</button></h3>
        
        
        <br>
        
        <div ref="hello" id="requestform">

          <table v-bind:style="{width : 430+'px' }" align="left">
            <tr>
              <td v-bind:style="{width : 150+'px' }">时间/Time UTF</td>
              <td v-bind:style="{width : 280+'px' }">链接/URL</td>
            </tr>

            <tr v-for="(item, index) in templist">

              <td v-bind:style="{width : 150+'px' }">
                {{item.time}}
              </td>
              <td v-bind:style="{width : 280+'px' }">
                <a href="item.url" v-on:click="opennewtab(item.url)">{{show_standard_url(item.url)}}</a>
              </td>

            </tr>
        </div>
        </table>



      </div>
    </div>

  </div>
  </div>

  <script src="https://cdn.bootcss.com/vue/2.6.12/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>

  <script src="popup.js"></script>

</body>

</html>